*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

.class1{

  color: red;
  background-color: aqua;
}

.class2{
  margin-top: 5px;
  color: yellow;
  background-color: black;
}
.class3{
  background: black;
  background-image: url('./assets/Hanuman.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



